<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <gazebo>
        <plugin
            filename="gz-sim-ackermann-steering-system"
            name="gz::sim::systems::AckermannSteering">
            <left_joint>steering_to_front_left_wheel</left_joint>
            <left_joint>steering_to_rear_left_wheel</left_joint>
            <right_joint>steering_to_front_right_wheel</right_joint>
            <right_joint>steering_to_rear_right_wheel</right_joint>        
            <left_steering_joint>base_to_front_left_steering</left_steering_joint>
            <right_steering_joint>base_to_front_right_steering</right_steering_joint>
            <kingpin_width>.18</kingpin_width>
            <steering_limit>0.5</steering_limit>
            <wheel_base>.31</wheel_base>
            <wheel_separation>.3</wheel_separation>
            <wheel_radius>0.075</wheel_radius>
            <min_velocity>-100</min_velocity>
            <max_velocity>100</max_velocity>
            <min_acceleration>-5</min_acceleration>
            <max_acceleration>5</max_acceleration>
            <topic>/model/base_link/cmd_vel0</topic>
        </plugin>
        <plugin
            filename="gz-sim-ackermann-steering-system"
            name="gz::sim::systems::AckermannSteering">
            <left_joint>steering_to_front_left_wheel</left_joint>
            <left_joint>steering_to_rear_left_wheel</left_joint>
            <right_joint>steering_to_front_right_wheel</right_joint>
            <right_joint>steering_to_rear_right_wheel</right_joint>        
            <left_steering_joint>base_to_rear_left_steering</left_steering_joint>
            <right_steering_joint>base_to_rear_right_steering</right_steering_joint>
            <kingpin_width>.18</kingpin_width>
            <steering_limit>0.5</steering_limit>
            <wheel_base>.31</wheel_base>
            <wheel_separation>.3</wheel_separation>
            <wheel_radius>0.075</wheel_radius>
            <min_velocity>-100</min_velocity>
            <max_velocity>100</max_velocity>
            <min_acceleration>-5</min_acceleration>
            <max_acceleration>5</max_acceleration>
            <topic>/model/base_link/cmd_vel1</topic>
        </plugin>
        <plugin
            filename="gz-sim-joint-state-publisher-system"
            name="gz::sim::systems::JointStatePublisher">
        </plugin>

        <plugin
            filename="gz-sim-pose-publisher-system"
            name="gz::sim::systems::PosePublisher">
            <use_pose_vector_msg>true</use_pose_vector_msg>
            <static_publisher>true</static_publisher>
            <static_update_frequency>1</static_update_frequency>
            <publish_link_pose>true</publish_link_pose>
            <publish_sensor_pose>true</publish_sensor_pose>
            <publish_collision_pose>false</publish_collision_pose>
            <publish_visual_pose>false</publish_visual_pose>
            <publish_nested_model_pose>true</publish_nested_model_pose> <!-- this bit is important -->
            <use_pose_vector_msg>true</use_pose_vector_msg>
            <static_publisher>true</static_publisher>
            <static_update_frequency>1</static_update_frequency>
        </plugin>
        <plugin
            filename="gz-sim-odometry-publisher-system"
            name="gz::sim::systems::OdometryPublisher">
            <odom_frame>odom</odom_frame>
            <odom_topic>/odom</odom_topic>
            <robot_base_frame>base_link</robot_base_frame>
        </plugin>
    </gazebo>

</robot>