<?xml version="1.0" ?>
<%
    pi = 3.14159
%>
<sdf version="1.8">
    <!--<arg name="x" default="0.0" />-->
    <world name="demo">
        <physics name="1ms" type="ignored">
            <max_step_size>0.001</max_step_size>
            <real_time_factor>1.0</real_time_factor>
        </physics>
        <plugin
            filename="gz-sim-physics-system"
            name="gz::sim::systems::Physics">
        </plugin>
        <plugin
            filename="gz-sim-user-commands-system"
            name="gz::sim::systems::UserCommands">
        </plugin>
        <plugin
            filename="gz-sim-scene-broadcaster-system"
            name="gz::sim::systems::SceneBroadcaster">
        </plugin>
        <!-- Processes the NavSat sensor -->
        <plugin
            filename="gz-sim-navsat-system"
            name="gz::sim::systems::NavSat">
        </plugin>

        <plugin filename="gz-sim-imu-system"
            name="gz::sim::systems::Imu">
        </plugin>

        <plugin filename="gz-sim-contact-system"
            name="gz::sim::systems::Contact">
        </plugin>

        <!-- Set the coordinates for the world origin -->
        <spherical_coordinates>
            <surface_model>EARTH_WGS84</surface_model>
            <world_frame_orientation>ENU</world_frame_orientation>
            <latitude_deg>-22.986687</latitude_deg>
            <longitude_deg>-43.202501</longitude_deg>
            <elevation>0</elevation>
            <heading_deg>0</heading_deg>
        </spherical_coordinates>

        <gui>
            <!-- Map -->
      <!--<plugin filename="NavSatMap" name="NavSat Map">
        <gz-gui>
          <title>NavSat Map</title>
          <property key="state" type="string">docked</property>
        </gz-gui>
        <topic>/navsat</topic>
        <topic_picker>true</topic_picker>
      </plugin>--> 
    </gui>

        <light type="directional" name="sun">
            <cast_shadows>true</cast_shadows>
            <pose>0 0 10 0 0 0</pose>
            <diffuse>0.8 0.8 0.8 1</diffuse>
            <specular>0.2 0.2 0.2 1</specular>
            <attenuation>
                <range>1000</range>
                <constant>0.9</constant>
                <linear>0.01</linear>
                <quadratic>0.001</quadratic>
            </attenuation>
            <direction>-0.5 0.1 -0.9</direction>
        </light>
        <model name="ground_plane">
            <static>true</static>
            <link name="link">
                <collision name="collision">
                <geometry>
                    <plane>
                    <normal>0 0 1</normal>
                    </plane>
                </geometry>
                </collision>
                <visual name="visual">
                <geometry>
                    <plane>
                    <normal>0 0 1</normal>
                    <size>100 100</size>
                    </plane>
                </geometry>
                <material>
                    <ambient>0.8 0.8 0.8 1</ambient>
                    <diffuse>0.8 0.8 0.8 1</diffuse>
                    <specular>0.8 0.8 0.8 1</specular>
                </material>
                </visual>
            </link>
        </model>

        <model name='room'>
            <static>1</static>
            <link name='link'>
                <pose>0.4 0.3 0 0 -0 <%= -pi/2 %></pose>
                <visual name='visual'>
                <geometry>
                    <mesh>
                    <uri>file:///home/davide/ros_ws/wheele/gazebo/meshes/enviroment/house1.dae</uri>
                    </mesh>
                </geometry>
                </visual>
                <collision name='collision'>
                <geometry>
                    <mesh>
                    <uri>file:///home/davide/ros_ws/wheele/gazebo/meshes/enviroment/house1.dae</uri>
                    </mesh>
                </geometry>
                <max_contacts>10</max_contacts>
                <surface>
                    <contact>
                    <ode/>
                    </contact>
                    <bounce/>
                    <friction>
                    <torsional>
                        <ode/>
                    </torsional>
                    <ode/>
                    </friction>
                </surface>
                </collision>
                <self_collide>0</self_collide>
                <inertial>
                <pose>0 0 0 0 -0 0</pose>
                <inertia>
                    <ixx>1</ixx>
                    <ixy>0</ixy>
                    <ixz>0</ixz>
                    <iyy>1</iyy>
                    <iyz>0</iyz>
                    <izz>1</izz>
                </inertia>
                <mass>1</mass>
                </inertial>
                <enable_wind>0</enable_wind>
                <kinematic>0</kinematic>
            </link>
            <pose>0 0 0 0 -0 0</pose>
        </model>

        <model name='cone'>
            <static>1</static>
            <link name='link'>
                <pose>6.2 -3.8 0 0 -0 0</pose>
                <visual name='visual'>
                <geometry>
                    <mesh>
                    <uri>file:///home/davide/ros_ws/wheele/gazebo/meshes/enviroment/cone.dae</uri>
                    <scale>1 1 1</scale>
                    </mesh>
                </geometry>
                </visual>
                <collision name='collision'>
                <geometry>
                    <mesh>
                    <uri>file:///home/davide/ros_ws/wheele/gazebo/meshes/enviroment/cone.dae</uri>
                    <scale>1 1 1</scale>
                    </mesh>
                </geometry>
                <max_contacts>10</max_contacts>
                <surface>
                    <contact>
                    <ode/>
                    </contact>
                    <bounce/>
                    <friction>
                    <torsional>
                        <ode/>
                    </torsional>
                    <ode/>
                    </friction>
                </surface>
                </collision>
                <self_collide>0</self_collide>
                <inertial>
                <pose>0 0 0 0 -0 0</pose>
                <inertia>
                    <ixx>1</ixx>
                    <ixy>0</ixy>
                    <ixz>0</ixz>
                    <iyy>1</iyy>
                    <iyz>0</iyz>
                    <izz>1</izz>
                </inertia>
                <mass>1</mass>
                </inertial>
                <enable_wind>0</enable_wind>
                <kinematic>0</kinematic>
            </link>
            <pose>0 0 0 0 -0 0</pose>
        </model>

        <model name='couch'>
            <static>1</static>
            <link name='link'>
                <pose>3.7 -2.5 0 0 0 <%= pi/2 %></pose>
                <visual name='visual'>
                <geometry>
                    <mesh>
                    <uri>file:///home/davide/ros_ws/wheele/gazebo/meshes/enviroment/3D_Dollhouse_Sofa/meshes/model.obj</uri>
                    <scale>7 7 7</scale>
                    </mesh>
                </geometry>
                </visual>
                <collision name='collision'>
                <geometry>
                    <mesh>
                    <uri>file:///home/davide/ros_ws/wheele/gazebo/meshes/enviroment/3D_Dollhouse_Sofa/meshes/model.obj</uri>
                    <scale>5 5 5 </scale>
                    </mesh>
                </geometry>
                <max_contacts>10</max_contacts>
                <surface>
                    <contact>
                    <ode/>
                    </contact>
                    <bounce/>
                    <friction>
                    <torsional>
                        <ode/>
                    </torsional>
                    <ode/>
                    </friction>
                </surface>
                </collision>
                <self_collide>0</self_collide>
                <inertial>
                <pose>0 0 0 0 -0 0</pose>
                <inertia>
                    <ixx>1</ixx>
                    <ixy>0</ixy>
                    <ixz>0</ixz>
                    <iyy>1</iyy>
                    <iyz>0</iyz>
                    <izz>1</izz>
                </inertia>
                <mass>1</mass>
                </inertial>
                <enable_wind>0</enable_wind>
                <kinematic>0</kinematic>
            </link>
            <pose>0 0 0 0 -0 0</pose>
        </model>
        <!--
        <include>
            <uri>home/davide/ros_ws/wheele/gazebo/model/model.sdf</uri>
            <pose>0 0 0 0 0 0</pose>
        </include>
        -->
        <plugin
            filename="gz-sim-sensors-system"
            name="gz::sim::systems::Sensors">
            <render_engine>ogre2</render_engine>
        </plugin>

    </world>
</sdf>
