<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="setup_room">

  <!-- Arguments -->
  <xacro:arg name="use_room" default="true"/>
  <xacro:arg name="use_cone" default="true"/>
  <xacro:arg name="use_couch" default="false"/>

  <xacro:arg name="room_mesh"  default="package://wheele_model/meshes/enviroment/house1.dae"/>
  <xacro:arg name="cone_mesh"  default="package://wheele_model/meshes/enviroment/cone.dae"/>
  <xacro:arg name="couch_mesh" default="package://wheele_model/meshes/enviroment/3D_Dollhouse_Sofa/meshes/model.obj"/>

  <xacro:macro name="setup_room_world" params="">
    <sdf version="1.8">
      <world name="setup_room">

        <!-- Plugins, physics, ground plane ... (keep as before) -->

        <!-- Room (enabled if use_room==true) -->
        <xacro:if value="$(arg use_room)">
          <model name="room">
            <static>1</static>
            <link name="link">
              <pose>0.4 0.3 0 0 0 -1.570795</pose>
              <visual name="visual">
                <geometry>
                  <mesh><uri>${room_mesh}</uri></mesh>
                </geometry>
              </visual>
              <collision name="collision">
                <geometry>
                  <mesh><uri>${room_mesh}</uri></mesh>
                </geometry>
              </collision>
            </link>
          </model>
        </xacro:if>

        <!-- Cone -->
        <xacro:if value="$(arg use_cone)">
          <model name="cone">
            <static>1</static>
            <link name="link">
              <pose>6.2 -3.8 0 0 0 0</pose>
              <visual name="visual">
                <geometry>
                  <mesh>
                    <uri>${cone_mesh}</uri>
                    <scale>1 1 1</scale>
                  </mesh>
                </geometry>
              </visual>
              <collision name="collision">
                <geometry>
                  <mesh>
                    <uri>${cone_mesh}</uri>
                    <scale>1 1 1</scale>
                  </mesh>
                </geometry>
              </collision>
            </link>
          </model>
        </xacro:if>

        <!-- Couch -->
        <xacro:if value="$(arg use_couch)">
          <model name="couch">
            <static>1</static>
            <link name="link">
              <pose>3.7 -2.5 0 0 0 1.570795</pose>
              <visual name="visual">
                <geometry>
                  <mesh>
                    <uri>${couch_mesh}</uri>
                    <scale>7 7 7</scale>
                  </mesh>
                </geometry>
              </visual>
              <collision name="collision">
                <geometry>
                  <mesh>
                    <uri>${couch_mesh}</uri>
                    <scale>5 5 5</scale>
                  </mesh>
                </geometry>
              </collision>
            </link>
          </model>
        </xacro:if>

      </world>
    </sdf>
  </xacro:macro>
</robot>
